@import 'tailwindcss';

@theme {
	--color-primary-dark: #1a1f25;
	--color-primary-base: #2d3a45;
	--color-primary-light: #d1d5db;

	--color-accent-blue: #0ea5e9;
	--color-accent-teal: #10b981;

	--color-text-dark: #f3f4f6;
	--color-text-gray: #9ca3af;
	--color-text-light: #ffffff;

	--color-cv-photo: #9ca3af;
	--color-cv-frame: #d1d5db;

	--color-cookie-banner-primary: #000901;
	--color-cookie-banner-btn: #0ea5d9;
}
