/* styles/index.css */

@import url('./reset.css');
@import url('./variables.css');

body {
	font-family: var(--font-primary);
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-text-dark);
	background-color: var(--color-primary-dark);
}

input,
textarea,
select,
button {
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.2;
	color: var(--color-text-light);
}

@media (max-width: 768px) {
	body {
		font-size: 15px;
	}
}
