

/* (Custom Properties) */
:root {
	/* Basic colors */
	--color-primary-dark: #1a1f25;
	--color-primary-base: #2d3a45;
	--color-primary-light: #d1d5db;

	/* Accent colos */
	--color-accent-blue: #0ea5e9;
	--color-accent-teal: #10b981;

	/* Text colors */
	--color-text-dark: #f3f4f6;
	--color-text-gray: #9ca3af;
	--color-text-light: #ffffff;

	/* CV colors */
	--color-cv-photo: #9ca3af;
	--color-cv-frame: #d1d5db;

	/* Banner colors */
	--color-cookie-banner-primary: #000901;
	--color-cookie-banner-btn: #0ea5d9;

	--font-primary: 'Roboto', -apple-system, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
